.checklist {
    list-style-type: none;
}
li{
    background-image: url('../../foto/Black-Square-Shape-PNG-Picture.png');
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: -25px;


}
.checked{
    background-image: url('../../foto/tick-icon-transparent-free-png.png');
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 20px;
}