body {
    width: 95%;
    margin: auto auto;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    text-align: left;
}

h1,h2{
    color: darkcyan;
}

h1 {
    font-size: 150%;
}


h2 {
    font-size: 130%;
}

footer{
    clear: both;
    font-size: 70%;
    text-align: center;
}

.links{
    float: left;
    width: 70%;

}

a{
    text-decoration: underline;
    color: black;
}

a:hover.hover{
    color: sienna;
}

#rechts{

    border: #00557F solid 1px;
    text-align: center;
    padding: 5px;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
    box-sizing: border-box;
    width: 30%;
    float: right;

}
.black h1{
    color: black;

}

.black{
    color: black;
}

.blauw{
    color: #00557F;
}
.groen{
    color: #275420;
}
.paars{
    color: blueviolet;
}

IMG.centreren{
    display: block;
    margin: auto;

}
#guarantee{

    margin: 30px;
    padding: 20px;
    color: rgb(44, 44, 44);
    background-color: #a7cece;
    border: 5px white dotted;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: 50px;
    padding-left: 75px;
}