section>header {
    background-image: url("../images/header.jpg");
    background-size: 1280px;
    height: 80px;
    color: #EDF2F4;
    font-family: Arial, sans-serif;

    background-repeat: no-repeat;
}