body{
    font-family: "Bookman Old Style", sans-serif;
    color: #275420;
    background-color: #D9F4E0;
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    }
header {

    color: crimson;
    font-family: Consolas, sans-serif;

    }

h2{
    padding:10px 10px 250px 10px;
    margin-bottom: 0;
    margin-top: 0;
    border-color: black;
    border-style: groove;
    background-image: url("../../foto/img_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    }
a{
    text-decoration-line: none;
    color: #275420;
    font-weight: bold;
    }

a:hover{
    color: darkcyan;
    }

table{
    border: black solid ;
    width: 50%;
    border-collapse: collapse;
    padding: 1em;
    table-layout: auto;
    margin: 50px;
    }

col{
    width: 5%;
}

th,td{
    border: black solid;
    text-align: center;
}
table {
    border-collapse: collapse;
    text-align: left; width: 100%;
}

table {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

table td, table th {
    padding: 5px 5px;
}

table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999934), color-stop(1, #237F1C) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999934', endColorstr='#237F1C');
    background-color:#999934;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 2px solid #000000; }

table thead th:first-child {
    border: none;
}

table tbody td {
    color: #00557F;
    border-left: 3px solid #000000;
    font-size: 15px;
    font-weight: normal;
}

table tbody .alt td {
    background: #D9F4E0;
    color: #275420;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

